In [5]:
# Cell 1: Initialize Spark Session
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import matplotlib.pyplot as plt
import seaborn as sns

# Create Spark session with connection to your cluster
spark = SparkSession.builder \
    .appName("NYC Taxi Analysis - Day 11") \
    .master("spark://spark-master:7077") \
    .config("spark.sql.adaptive.enabled", "true") \
    .config("spark.sql.adaptive.coalescePartitions.enabled", "true") \
    .getOrCreate()

# Set log level to reduce verbose output
spark.sparkContext.setLogLevel("WARN")

print("‚úÖ Spark Session Created Successfully!")
print(f"üöÄ Spark Version: {spark.version}")
print(f"üñ• Master: {spark.sparkContext.master}")
print(f"üìä Available Cores: {spark.sparkContext.defaultParallelism}")
print(f"üÜî Application ID: {spark.sparkContext.applicationId}")

# Check connection to cluster
print(f"\nüîó Cluster Connection Status:")
print(f"   Workers connected: Check Spark UI at http://localhost:8080")

‚úÖ Spark Session Created Successfully!
üöÄ Spark Version: 3.5.0
üñ• Master: spark://spark-master:7077
üìä Available Cores: 2
üÜî Application ID: app-20250626013602-0001

üîó Cluster Connection Status:
   Workers connected: Check Spark UI at http://localhost:8080

In [ ]:
# Cell 2: Load and Explore Data
print("üìÇ Loading NYC Taxi Data...")

# Load data with schema inference
taxi_df = spark.read.csv("/home/jovyan/data/nyc_taxi_data.csv",
                        header=True,
                        inferSchema=True)

print(f"üìä Dataset Shape: {taxi_df.count()} rows x {len(taxi_df.columns)} columns")

print("\nüîç Schema Information:")
taxi_df.printSchema()

print("\nüìã Sample Data (First 5 rows):")
taxi_df.show(5, truncate=False)

print("\nüìà Column Names:")
for i, column in enumerate(taxi_df.columns):
    print(f"  {i+1:2d}. {column}")

print(f"\nüéØ Success! Loaded {taxi_df.count():,} taxi trip records into Spark DataFrame")

üìÇ Loading NYC Taxi Data...

In [ ]:
# It is taking more than 20 minutes to run previous cell.

In [1]:
try:
    spark.stop()
    print("‚úÖ Stopped previous Spark session")
except:
    print("No previous session to stop")

No previous session to stop

In [2]:
# Check if our data file is accessible
import os
import pandas as pd

print("üîç Checking file accessibility...")
print(f"Current directory: {os.getcwd()}")

# List files in data directory
try:
    files = os.listdir('/home/jovyan/data/')
    print(f"Files in /home/jovyan/data/: {files}")
    
    # Check file size
    if 'nyc_taxi_data.csv' in files:
        file_path = '/home/jovyan/data/nyc_taxi_data.csv'
        file_size = os.path.getsize(file_path)
        print(f"‚úÖ File found: {file_path}")
        print(f"üìä File size: {file_size:,} bytes ({file_size/1024/1024:.1f} MB)")
        
        # Quick check with pandas
        df_test = pd.read_csv(file_path, nrows=5)
        print(f"‚úÖ Pandas can read it: {len(df_test)} rows, {len(df_test.columns)} columns")
        print("First few rows:")
        print(df_test.head())
    else:
        print("‚ùå nyc_taxi_data.csv not found!")
        
except Exception as e:
    print(f"‚ùå Error checking files: {e}")

üîç Checking file accessibility...
Current directory: /home/jovyan
Files in /home/jovyan/data/: ['generate_sample_data.py', 'nyc_taxi_data.csv']
‚úÖ File found: /home/jovyan/data/nyc_taxi_data.csv
üìä File size: 1,253,689 bytes (1.2 MB)
‚úÖ Pandas can read it: 5 rows, 18 columns
First few rows:
   vendor_id tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0          1  2024-01-06 09:42:36   2024-01-06 09:44:36                2
1          1  2024-01-02 10:42:58   2024-01-02 10:48:58                2
2          2  2024-01-22 19:21:59   2024-01-22 19:59:59                1
3          2  2024-01-05 23:05:00   2024-01-05 23:11:00                2
4          2  2024-01-04 19:48:31   2024-01-04 20:24:31                1

   trip_distance  pickup_longitude  pickup_latitude  rate_code_id  \
0          14.84        -73.827535        40.698978             1
1          13.03        -73.984409        40.751071             1
2           8.51        -73.966543        40.823860             1
3           0.96        -73.936022        40.721796             1
4           3.93        -73.962047        40.775728             1

  store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
0                  N         -73.841953         40.683078             1
1                  N         -74.003348         40.739025             2
2                  N         -73.956191         40.810246             1
3                  N         -73.942264         40.712377             1
4                  N         -73.946629         40.770193             1

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  total_amount
0        40.60    0.0      0.5        5.99           0.0         47.09
1        38.07    0.0      0.5        0.00           0.0         38.57
2        42.77    0.0      0.5        2.30           0.0         45.57
3         7.90    0.0      0.5        1.92           0.0         10.32
4        30.33    0.0      0.5        5.01           0.0         35.84

In [3]:
# Cell 1: Simple Spark Session (Troubleshooting Version)
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

print("üöÄ Creating Spark session with simpler config...")

# Create Spark session with local mode first (for troubleshooting)
spark = SparkSession.builder \
    .appName("NYC Taxi Analysis - Troubleshooting") \
    .master("local[2]") \
    .config("spark.sql.adaptive.enabled", "false") \
    .config("spark.driver.memory", "1g") \
    .getOrCreate()

spark.sparkContext.setLogLevel("ERROR")  # Reduce noise

print("‚úÖ Spark Session Created!")
print(f"üöÄ Spark Version: {spark.version}")
print(f"üñ• Master: {spark.sparkContext.master}")
print(f"üìä Available Cores: {spark.sparkContext.defaultParallelism}")

üöÄ Creating Spark session with simpler config...
‚úÖ Spark Session Created!
üöÄ Spark Version: 3.5.0
üñ• Master: local[2]
üìä Available Cores: 2

In [4]:
# Cell 2: Simple Data Loading Test
print("üìÇ Loading data with local Spark...")

try:
    # Very simple loading
    taxi_df = spark.read \
        .option("header", "true") \
        .csv("/home/jovyan/data/nyc_taxi_data.csv")
    
    print("‚úÖ Data loaded!")
    print(f"Row count: {taxi_df.count()}")
    print(f"Columns: {len(taxi_df.columns)}")
    
    # Show first 3 rows
    taxi_df.show(3)
    
except Exception as e:
    print(f"‚ùå Error: {e}")
    import traceback
    traceback.print_exc()

üìÇ Loading data with local Spark...
‚úÖ Data loaded!
Row count: 10000
Columns: 18
+---------+--------------------+---------------------+---------------+-------------+----------------+---------------+------------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+------------+
|vendor_id|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|pickup_longitude|pickup_latitude|rate_code_id|store_and_fwd_flag|dropoff_longitude|dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|total_amount|
+---------+--------------------+---------------------+---------------+-------------+----------------+---------------+------------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+------------+
|        1| 2024-01-06 09:42:36|  2024-01-06 09:44:36|              2|        14.84|      -73.827535|      40.698978|           1|                 N|       -73.841953|       40.683078|           1|       40.6|  0.0|    0.5|      5.99|         0.0|       47.09|
|        1| 2024-01-02 10:42:58|  2024-01-02 10:48:58|              2|        13.03|      -73.984409|      40.751071|           1|                 N|       -74.003348|       40.739025|           2|      38.07|  0.0|    0.5|       0.0|         0.0|       38.57|
|        2| 2024-01-22 19:21:59|  2024-01-22 19:59:59|              1|         8.51|      -73.966543|       40.82386|           1|                 N|       -73.956191|       40.810246|           1|      42.77|  0.0|    0.5|       2.3|         0.0|       45.57|
+---------+--------------------+---------------------+---------------+-------------+----------------+---------------+------------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+------------+
only showing top 3 rows

In [5]:
# Cell 3: Data Quality Analysis
print("üîç Data Quality Assessment:")

# Check for missing values
print("\n‚ùì Missing Values per Column:")
missing_counts = taxi_df.select([
    count(when(col(c).isNull(), c)).alias(c) 
    for c in taxi_df.columns
])
missing_counts.show()

# Basic statistics for numerical columns
print("\nüìà Numerical Columns Statistics:")
taxi_df.describe().show()

# Check data ranges
print("\nüóì Date Range:")
taxi_df.select(
    min("tpep_pickup_datetime").alias("earliest_pickup"),
    max("tpep_pickup_datetime").alias("latest_pickup"),
    count("*").alias("total_trips")
).show()

# Payment type distribution
print("\nüí≥ Payment Type Distribution:")
taxi_df.groupBy("payment_type").count().orderBy("payment_type").show()

# Passenger count distribution
print("\nüë• Passenger Count Distribution:")
taxi_df.groupBy("passenger_count").count().orderBy("passenger_count").show()

üîç Data Quality Assessment:

‚ùì Missing Values per Column:
+---------+--------------------+---------------------+---------------+-------------+----------------+---------------+------------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+------------+
|vendor_id|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|pickup_longitude|pickup_latitude|rate_code_id|store_and_fwd_flag|dropoff_longitude|dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|total_amount|
+---------+--------------------+---------------------+---------------+-------------+----------------+---------------+------------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+------------+
|        0|                   0|                    0|              0|            0|               0|              0|           0|                 0|                0|               0|           0|          0|    0|      0|         0|           0|           0|
+---------+--------------------+---------------------+---------------+-------------+----------------+---------------+------------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+------------+


üìà Numerical Columns Statistics:
+-------+------------------+--------------------+---------------------+-----------------+-----------------+-------------------+-------------------+------------+------------------+-------------------+-------------------+------------------+------------------+-----+-------+------------------+------------+------------------+
|summary|         vendor_id|tpep_pickup_datetime|tpep_dropoff_datetime|  passenger_count|    trip_distance|   pickup_longitude|    pickup_latitude|rate_code_id|store_and_fwd_flag|  dropoff_longitude|   dropoff_latitude|      payment_type|       fare_amount|extra|mta_tax|        tip_amount|tolls_amount|      total_amount|
+-------+------------------+--------------------+---------------------+-----------------+-----------------+-------------------+-------------------+------------+------------------+-------------------+-------------------+------------------+------------------+-----+-------+------------------+------------+------------------+
|  count|             10000|               10000|                10000|            10000|            10000|              10000|              10000|       10000|             10000|              10000|              10000|             10000|             10000|10000|  10000|             10000|       10000|             10000|
|   mean|            1.4916|                NULL|                 NULL|           2.0115|10.17212199999997|  -73.9002803078999|  40.75043671140014|         1.0|              NULL| -73.90032195650019| 40.750533123799975|              1.25|43.230005999999875|  0.0|    0.5|4.0338960000000075|         0.0| 47.76390199999996|
| stddev|0.4999544333672262|                NULL|                 NULL|1.069711259274119|5.711291076603632|0.08673974076472939|0.05755070294535415|         0.0|              NULL|0.08757643256480697|0.05874616947926592|0.4330343541512467|16.800345927459087|  0.0|    0.0| 4.128931257422052|         0.0|18.735807003190484|
|    min|                 1| 2024-01-01 00:00:27|  2024-01-01 00:04:33|                1|              0.1|          -73.75007|           40.65003|           1|                 N|         -73.731878|          40.630564|                 1|              10.0|  0.0|    0.5|               0.0|         0.0|             10.05|
|    max|                 2| 2024-01-31 23:48:41|  2024-02-01 00:24:25|                4|             9.99|         -74.049974|          40.849994|           1|                 N|          -74.06891|          40.868854|                 2|              9.97|  0.0|    0.5|              9.99|         0.0|             99.53|
+-------+------------------+--------------------+---------------------+-----------------+-----------------+-------------------+-------------------+------------+------------------+-------------------+-------------------+------------------+------------------+-----+-------+------------------+------------+------------------+


üóì Date Range:
+-------------------+-------------------+-----------+
|    earliest_pickup|      latest_pickup|total_trips|
+-------------------+-------------------+-----------+
|2024-01-01 00:00:27|2024-01-31 23:48:41|      10000|
+-------------------+-------------------+-----------+


üí≥ Payment Type Distribution:
+------------+-----+
|payment_type|count|
+------------+-----+
|           1| 7500|
|           2| 2500|
+------------+-----+


üë• Passenger Count Distribution:
+---------------+-----+
|passenger_count|count|
+---------------+-----+
|              1| 4220|
|              2| 2889|
|              3| 1447|
|              4| 1444|
+---------------+-----+

In [6]:
# Cell 4: Data Transformations and Feature Engineering
print("üßπ Data Cleaning and Feature Engineering...")

# First, let's properly cast the datetime columns
from pyspark.sql.functions import to_timestamp

# Convert string datetime to proper timestamp type
taxi_df_typed = taxi_df.withColumn(
    "pickup_datetime", to_timestamp("tpep_pickup_datetime", "yyyy-MM-dd HH:mm:ss")
).withColumn(
    "dropoff_datetime", to_timestamp("tpep_dropoff_datetime", "yyyy-MM-dd HH:mm:ss")
)

# Clean the data (remove invalid trips)
cleaned_taxi_df = taxi_df_typed.filter(
    (col("trip_distance") > 0) &
    (col("fare_amount") > 0) &
    (col("total_amount") > 0) &
    (col("passenger_count") > 0) &
    (col("passenger_count") <= 6) &
    (col("trip_distance") < 50) &
    (col("fare_amount") < 200) &
    (col("total_amount") < 300)
)

print(f"üìä Original records: {taxi_df.count():,}")
print(f"üìä After cleaning: {cleaned_taxi_df.count():,}")
print(f"üìä Removed: {taxi_df.count() - cleaned_taxi_df.count():,} records")

# Feature engineering
enriched_taxi_df = cleaned_taxi_df.withColumn(
    "pickup_hour", hour("pickup_datetime")
).withColumn(
    "pickup_day_of_week", dayofweek("pickup_datetime") 
).withColumn(
    "trip_duration_minutes",
    (unix_timestamp("dropoff_datetime") - unix_timestamp("pickup_datetime")) / 60
).withColumn(
    "tip_percentage",
    when(col("fare_amount") > 0, (col("tip_amount") / col("fare_amount")) * 100).otherwise(0)
).withColumn(
    "fare_per_mile",
    when(col("trip_distance") > 0, col("fare_amount") / col("trip_distance")).otherwise(0)
)

# Final filtering
final_taxi_df = enriched_taxi_df.filter(
    (col("trip_duration_minutes") > 1) &
    (col("trip_duration_minutes") < 120) &
    (col("fare_per_mile") > 0) &
    (col("fare_per_mile") < 50)
)

print(f"üìä Final dataset: {final_taxi_df.count():,} records")

# Cache for better performance
final_taxi_df.cache()
print("üíæ DataFrame cached for better performance")

print("\n‚úÖ Data transformation completed!")
print("üîç New columns: pickup_hour, pickup_day_of_week, trip_duration_minutes, tip_percentage, fare_per_mile")

üßπ Data Cleaning and Feature Engineering...
üìä Original records: 10,000
üìä After cleaning: 9,573
üìä Removed: 427 records
üìä Final dataset: 9,410 records
üíæ DataFrame cached for better performance

‚úÖ Data transformation completed!
üîç New columns: pickup_hour, pickup_day_of_week, trip_duration_minutes, tip_percentage, fare_per_mile

In [7]:
# Cell 5: Business Analytics with Spark SQL
print("üéØ Business Analytics with Spark SQL")

# Register DataFrame as SQL table
final_taxi_df.createOrReplaceTempView("taxi_trips")

# Analysis 1: Peak hours analysis
print("\n‚è∞ Peak Hours Analysis:")
peak_hours = spark.sql("""
    SELECT 
        pickup_hour,
        COUNT(*) as trip_count,
        ROUND(AVG(trip_distance), 2) as avg_distance,
        ROUND(AVG(total_amount), 2) as avg_fare,
        ROUND(AVG(tip_percentage), 2) as avg_tip_pct
    FROM taxi_trips 
    GROUP BY pickup_hour 
    ORDER BY pickup_hour
""")
peak_hours.show(24)

# Analysis 2: Day of week patterns  
print("\nüìÖ Day of Week Analysis:")
dow_analysis = spark.sql("""
    SELECT 
        CASE pickup_day_of_week
            WHEN 1 THEN 'Sunday'
            WHEN 2 THEN 'Monday' 
            WHEN 3 THEN 'Tuesday'
            WHEN 4 THEN 'Wednesday'
            WHEN 5 THEN 'Thursday'
            WHEN 6 THEN 'Friday'
            WHEN 7 THEN 'Saturday'
        END as day_name,
        COUNT(*) as trip_count,
        ROUND(AVG(trip_distance), 2) as avg_distance,
        ROUND(AVG(total_amount), 2) as avg_total
    FROM taxi_trips 
    GROUP BY pickup_day_of_week 
    ORDER BY pickup_day_of_week
""")
dow_analysis.show()

# Analysis 3: Distance categories
print("\nüìè Distance Analysis:")
distance_analysis = spark.sql("""
    SELECT 
        CASE 
            WHEN trip_distance <= 1 THEN 'Short (‚â§1 mi)'
            WHEN trip_distance <= 5 THEN 'Medium (1-5 mi)' 
            WHEN trip_distance <= 10 THEN 'Long (5-10 mi)'
            ELSE 'Very Long (>10 mi)'
        END as distance_category,
        COUNT(*) as trip_count,
        ROUND(AVG(trip_duration_minutes), 1) as avg_duration_min,
        ROUND(AVG(total_amount), 2) as avg_fare
    FROM taxi_trips
    GROUP BY 
        CASE 
            WHEN trip_distance <= 1 THEN 'Short (‚â§1 mi)'
            WHEN trip_distance <= 5 THEN 'Medium (1-5 mi)' 
            WHEN trip_distance <= 10 THEN 'Long (5-10 mi)'
            ELSE 'Very Long (>10 mi)'
        END
    ORDER BY avg_duration_min
""")
distance_analysis.show()

print("\nüéØ Key Insights Generated!")
print("üìä You've successfully processed 10,000+ records with Spark!")

üéØ Business Analytics with Spark SQL

‚è∞ Peak Hours Analysis:
+-----------+----------+------------+--------+-----------+
|pickup_hour|trip_count|avg_distance|avg_fare|avg_tip_pct|
+-----------+----------+------------+--------+-----------+
|          0|       395|        10.7|   49.01|       9.37|
|          1|       387|        10.5|   48.54|       9.15|
|          2|       377|        10.8|   49.25|       9.37|
|          3|       400|       10.29|   48.55|       9.88|
|          4|       396|       10.69|   51.03|       9.04|
|          5|       370|        10.5|   48.17|       8.91|
|          6|       414|       10.78|   50.11|       9.29|
|          7|       370|       10.01|   47.67|       9.41|
|          8|       392|       10.96|   51.03|       9.65|
|          9|       403|       10.59|   49.35|       9.07|
|         10|       384|       10.81|    49.8|      10.12|
|         11|       402|       10.46|    49.1|       8.91|
|         12|       380|       10.77|   49.39|       8.66|
|         13|       366|       10.04|   47.13|       9.31|
|         14|       369|       10.64|   49.53|       9.28|
|         15|       373|       11.07|   51.57|        9.8|
|         16|       424|       10.86|   49.28|       9.31|
|         17|       402|        10.9|   49.92|       9.58|
|         18|       395|        10.5|   49.05|       9.88|
|         19|       373|       10.25|   47.52|       9.48|
|         20|       411|       10.42|   49.12|       9.42|
|         21|       402|        10.6|   49.21|       9.02|
|         22|       403|        10.8|    50.1|       9.78|
|         23|       422|       10.42|   47.52|       9.16|
+-----------+----------+------------+--------+-----------+


üìÖ Day of Week Analysis:
+---------+----------+------------+---------+
| day_name|trip_count|avg_distance|avg_total|
+---------+----------+------------+---------+
|   Sunday|      1200|       10.58|    49.38|
|   Monday|      1501|        10.6|    48.63|
|  Tuesday|      1468|       10.57|    49.26|
|Wednesday|      1528|       10.38|    48.78|
| Thursday|      1220|       10.78|    49.35|
|   Friday|      1262|       10.61|    49.79|
| Saturday|      1231|       10.75|    49.52|
+---------+----------+------------+---------+


üìè Distance Analysis:
+------------------+----------+----------------+--------+
| distance_category|trip_count|avg_duration_min|avg_fare|
+------------------+----------+----------------+--------+
|     Short (‚â§1 mi)|       433|            30.5|   24.07|
|   Medium (1-5 mi)|      1986|            30.5|   30.83|
|    Long (5-10 mi)|      2465|            31.3|   43.62|
|Very Long (>10 mi)|      4526|            31.3|   62.73|
+------------------+----------+----------------+--------+


üéØ Key Insights Generated!
üìä You've successfully processed 10,000+ records with Spark!

In [8]:
# Geographic hot spots analysis
print("\nüó∫ Geographic Analysis:")

# Popular pickup locations (rounded by coordinate)
pickup_hotspots = spark.sql("""
    SELECT
        ROUND(pickup_longitude, 3) AS pickup_lon_rounded,
        ROUND(pickup_latitude, 3) AS pickup_lat_rounded,
        COUNT(*) AS pickup_count,
        AVG(trip_distance) AS avg_trip_distance,
        AVG(total_amount) AS avg_fare
    FROM taxi_trips
    WHERE pickup_longitude BETWEEN -74.05 AND -73.75
      AND pickup_latitude BETWEEN 40.65 AND 40.85
    GROUP BY pickup_lon_rounded, pickup_lat_rounded
    HAVING pickup_count >= 100
    ORDER BY pickup_count DESC
    LIMIT 20
""")

print("üîù Top Pickup Locations:")
pickup_hotspots.show()

# Airport trips analysis
airport_trips = spark.sql("""
    SELECT
        'JFK Airport' AS location,
        COUNT(*) AS trip_count,
        AVG(trip_distance) AS avg_distance,
        AVG(total_amount) AS avg_fare,
        AVG(trip_duration_minutes) AS avg_duration
    FROM taxi_trips
    WHERE (pickup_longitude BETWEEN -73.79 AND -73.76 AND pickup_latitude BETWEEN 40.64 AND 40.66)
       OR (dropoff_longitude BETWEEN -73.79 AND -73.76 AND dropoff_latitude BETWEEN 40.64 AND 40.66)
    UNION ALL
    SELECT
        'LGA Airport' AS location,
        COUNT(*) AS trip_count,
        AVG(trip_distance) AS avg_distance,
        AVG(total_amount) AS avg_fare,
        AVG(trip_duration_minutes) AS avg_duration
    FROM taxi_trips
    WHERE (pickup_longitude BETWEEN -73.89 AND -73.85 AND pickup_latitude BETWEEN 40.76 AND 40.78)
       OR (dropoff_longitude BETWEEN -73.89 AND -73.85 AND dropoff_latitude BETWEEN 40.76 AND 40.78)
""")

print("\n‚úà Airport Trip Analysis:")
airport_trips.show()

üó∫ Geographic Analysis:
üîù Top Pickup Locations:
+------------------+------------------+------------+-----------------+--------+
|pickup_lon_rounded|pickup_lat_rounded|pickup_count|avg_trip_distance|avg_fare|
+------------------+------------------+------------+-----------------+--------+
+------------------+------------------+------------+-----------------+--------+


‚úà Airport Trip Analysis:
+-----------+----------+------------------+------------------+------------------+
|   location|trip_count|      avg_distance|          avg_fare|      avg_duration|
+-----------+----------+------------------+------------------+------------------+
|JFK Airport|        72|10.072083333333335|46.365555555555574|            28.625|
|LGA Airport|       221|10.614615384615378|49.093755656108605|30.176470588235293|
+-----------+----------+------------------+------------------+------------------+

In [9]:
# Performance optimization techniques
print("üöÄ Performance Optimization Techniques")

# 1. Partitioning analysis
print(f"\nüì¶ Current Partitions: {final_taxi_df.rdd.getNumPartitions()}")

# Check partition sizes
partition_info = spark.sql("""
    SELECT spark_partition_id() AS partition_id, COUNT(*) AS records_per_partition
    FROM taxi_trips
    GROUP BY spark_partition_id()
    ORDER BY spark_partition_id()
""")

print("üìä Records per Partition:")
partition_info.show()

# 2. Repartitioning for better performance
print("\nüîÑ Optimizing Partitions...")
# Repartition based on pickup_hour for time-based analysis
optimized_df = final_taxi_df.repartition(8, "pickup_hour").cache()

print(f"üì¶ New Partitions: {optimized_df.rdd.getNumPartitions()}")

# 3. Broadcast join optimization example
print("\nüì° Broadcast Join Example:")

# Create a small lookup table for payment types
payment_types = spark.createDataFrame(
    [
        (1, "Credit Card"),
        (2, "Cash"),
        (3, "No Charge"),
        (4, "Dispute"),
        (5, "Unknown"),
        (6, "Voided Trip")
    ],
    ["payment_type", "payment_method"]
)

from pyspark.sql.functions import broadcast
enriched_df = optimized_df.join(
    broadcast(payment_types),
    on="payment_type",
    how="left"
)

print("‚úÖ Payment method mapping applied with broadcast join")

# 4. Aggregation with window functions
print("\nüìà Advanced Window Functions:")

from pyspark.sql.functions import avg, row_number, desc
from pyspark.sql.window import Window

# Calculate running averages and rankings
window_spec = Window.partitionBy("pickup_hour").orderBy("tpep_pickup_datetime")

windowed_analysis = (
    optimized_df
    .withColumn(
        "running_avg_fare",
        avg("total_amount").over(window_spec.rowsBetween(-100, 0))
    )
    .withColumn(
        "trip_rank_in_hour",
        row_number().over(Window.partitionBy("pickup_hour").orderBy(desc("total_amount")))
    )
)

print("‚úÖ Window functions applied for running averages and rankings")

üöÄ Performance Optimization Techniques

üì¶ Current Partitions: 1
üìä Records per Partition:
+------------+---------------------+
|partition_id|records_per_partition|
+------------+---------------------+
|           0|                 9410|
+------------+---------------------+


üîÑ Optimizing Partitions...
üì¶ New Partitions: 8

üì° Broadcast Join Example:
‚úÖ Payment method mapping applied with broadcast join

üìà Advanced Window Functions:
‚úÖ Window functions applied for running averages and rankings